button {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 11.5px 24px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Josefin Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

button:hover {
  opacity: 0.8;
}

.button-primary {
  background-color: rgb(255, 122, 89);
  color: white;
}

.button-secondary {
  background-color: white;
  border-color: rgb(255, 122, 89);
  color: rgb(255, 122, 89);
}

.button-neutral {
  background-color: #425b76;
  color: white;
}

.button-invis {
  background-color: transparent;
}

.button-invis:hover {
  text-decoration: underline;
}

.button-dismiss-overlay {
  border-radius: 100%;
  height: 32px;
  width: 32px;
  padding: 0;
  color: white;
  background-color: transparent;
  font-size: 20px;
  font-weight: 300;
  transition: background-color 0.3s ease-in-out;
}

.button-dismiss-overlay:hover {
  background-color: rgba(white, 0.2);
}
.button-group {
  display: flex;
  align-items: center;
}

.button-group button {
  margin-right: 8px;
}
