@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
  min-height: 100%;
}

li,
ul {
  display: list-item;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.expandable {
  transition: height 0.3s ease-in-out 0.1s, opacity 0.1s ease-in-out;
}
.expanded {
  transition: height 0.3s ease-in-out, opacity 0.1s ease-in-out 0.3s;
}
