input {
  padding: 9px 10px;
  font-size: 13px;
  line-height: 18px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #cbd6e2;
  background-color: #f5f8fa;
  color: #33475b;
  font-size: 16px;
  border-radius: 0.1875rem;
  font-family: 'Josefin Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}

input:focus {
  outline: none;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.input-row {
  display: flex;
  flex-direction: row;
}

.input-row .input-group {
  flex-direction: row;
  align-items: center;
  margin-right: 24px;
  margin-bottom: 0;
}

.input-row .input-group .label {
  margin-right: 5px;
  font-size: 12px;
}

.input-group .input-label {
  margin-bottom: 5px;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: 'Josefin Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}
input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'Josefin Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}
input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'Josefin Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}
input:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'Josefin Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
@media screen and (max-width: 750px) {
  .input-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .input-row .input-group {
    margin-bottom: 10px;
  }
}
