.interaction {
  .input-row {
    margin: 8px 10px 0 10px;
  }
  input,
  .Select-control {
    background-color: transparent;
    min-width: 200px;
    border: none;
    border-radius: 0;
  }
  .Select-control:hover {
    box-shadow: none;
  }
  .Select-placeholder {
    color: rgba(#33475b, 0.5);
  }
  .Select-placeholder,
  .Select-value {
    padding-top: 1px;
  }
  .Select input {
    height: 32px;
    padding: 2px;
  }
  .Select.is-focused .Select-control {
    border: none;
    box-shadow: none;
  }
  .Select-option {
    height: 32px;
  }
}
@media screen and (max-width: 750px) {
  .interaction-menu .button-text {
    display: none;
  }
  .interaction textarea {
    height: 42px;
  }
}
