.object-editor-wrapper {
  background-color: #f5f8fa;
  min-height: calc(100vh - 42px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.object-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  a {
    text-decoration: none;
    font-weight: 400;
    color: #0091ae;
  }
  a:hover {
    text-decoration: underline;
  }
}
.object-editor .header {
  height: 64px;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 16px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}
.object-editor .header .left-arrow {
  color: #0091ae;
  text-decoration: none;
  font-size: 12px;
}
.object-editor .header a {
  text-decoration: none;
}
.object-editor .header a:hover {
  text-decoration: underline;
}
.object-editor .body {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.object-editor .sidebar {
  flex: 1;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  margin-bottom: 256px;
}
.object-editor .content {
  flex: 1;
  flex-basis: 70%;
  flex-direction: column;
  padding: 0 16px 0 0;
}
.object-editor .panel {
  margin-bottom: 15px;
  padding: 8px;
}
.object-editor .panel.menu-panel {
  margin-bottom: 0;
}
.interaction-menu {
  display: flex;
  border-bottom: 1px solid rgba(#33475b, 0.25);
}
.interaction-item {
  padding: 8px;
  margin-bottom: -2px;
  cursor: pointer;
  background-color: transparent;
  border: 3px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
  color: rgba(#33475b, 0.8);
}
.interaction-item:focus {
  outline: none;
}
.interaction-item.active {
  border-bottom: 3px solid #33475b;
  color: #33475b;
}
.interaction-item:hover {
  color: rgba(#33475b, 0.6);
}
.interaction-item .icon {
  margin-right: 3px;
  color: #33475b;
}
.sidebar-header.panel {
  display: flex;
  align-items: center;
  padding: 16px;
}
.sidebar-header .title {
  font-size: 24px;
  font-weight: 300;
  max-width: calc(100% - 90px);
  width: calc(100% - 90px);
  word-wrap: break-word;
}
.sidebar-header .avatar {
  min-width: 64px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  margin-right: 16px;
}
.sidebar-properties .title {
  font-weight: 700;
  padding: 16px 0;
  color: #33475b;
  word-wrap: break-word;
}
.sidebar-properties .input-group {
  padding-bottom: 4px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #dfe3eb;
}
.sidebar-properties .input-label {
  font-size: 12px;
  margin-bottom: 0;
}
.sidebar-properties input {
  border: 0;
  background-color: transparent;
  padding: 4px 0;
  margin: 0;
  height: auto;
  transition: border 0.3s ease-in-out;
  border-bottom: 1px solid white;
}
.sidebar-properties input:focus {
  border-bottom: 1px solid rgba(0, 208, 228, 0.5);
}
.button-footer {
  position: fixed;
  bottom: -48px;
  left: 0;
  right: 0;
  height: 48px;
  background-color: #f5f8fa;
  padding: 16px 52px;
  z-index: 1000;
  border-top: 1px solid #cbd6e2;
  box-shadow: 0 1px 24px 0 rgba(0, 0, 0, 0.08);
}
.edited-properties {
  color: #33475b;
  font-weight: 300;
}
@media screen and (max-width: 750px) {
  .object-editor .body {
    flex-direction: column;
  }
  .object-editor .header {
    height: 42px;
  }
  .object-editor .sidebar,
  .object-editor .content {
    width: calc(100% - 20px);
    margin: 0 10px;
    padding: 0;
  }
}
@media screen and (max-width: 750px) {
  .button-footer {
    padding: 10px 10px;
  }
}
