.object-editor {
  background-color: #f5f8fa;
}
.object-editor .header {
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 16px;
}
.object-editor .header .left-arrow {
  text-decoration: none;
  font-size: 12px;
}
.object-editor .header a {
  text-decoration: none;
}
.object-editor .header a:hover {
  text-decoration: underline;
}
.object-editor .body {
  display: flex;
  flex-direction: row;
}
.object-editor .sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.object-editor .content {
  width: 70%;
  flex-direction: column;
  padding: 16px;
}
