.sidebar {
  width: 173px;
  margin-right: 32px;
}
.sidebar li {
  font-weight: 300;
  transition: background-color 0.2s linear;
  color: #33475b;
}
.sidebar a.active li {
  background-color: #eaf0f6;
  color: #33475b;
  font-weight: 400;
  border-radius: 3px;
}
.sidebar a li {
  padding: 12px 12px 10px 8px;
}
.sidebar a {
  text-decoration: none;
}
.sidebar a:visited {
}
