.sidebar {
  width: 173px;
  margin-right: 32px;
}
.sidebar li {
  font-weight: 300;
  transition: background-color 0.2s linear;
  color: #33475b;
  min-height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
}
.sidebar .list-item-wrapper {
  width: 100%;
}
.sidebar a.active li {
  background-color: #eaf0f6;
  color: #33475b;
  font-weight: 400;
  border-radius: 3px;
}
.sidebar a li {
  padding: 0 0 0 10px;
}
.sidebar a {
  text-decoration: none;
}
.sidebar .checkbox {
  margin-right: 5px;
}
