.timeline {
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease-in-out;
  height: auto;
}
.timeline-entry {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.timeline-entry-enter {
  max-height: 0.01px;
}

.timeline-entry-enter.timeline-entry-enter-active {
  max-height: 200px;
  transition: max-height 1s;
  // height: auto;
  // max-height: none;
  // transition: height 500ms ease-in;
}
.timeline-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 62px;
}
.timeline-icon-pre-line {
  border-left: 1px solid rgb(81, 111, 144);
  height: 8px;
}
.timeline-icon-pre-line.first {
  height: 15px;
}
.timeline-icon-post-line {
  border-left: 1px solid rgb(81, 111, 144);
  flex-grow: 1;
}
.timeline-icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(81, 111, 144);
  font-size: 18px;
  font-weight: 300;
  margin: 0 16px;
}
.timeline-icon .fa-plus {
  padding-top: 2px;
}
.timeline-details.panel {
  flex-grow: 1;
  padding: 16px;
  display: flex;
}
.timeline-details-body {
  flex-grow: 1;
}
.timeline-message {
  font-weight: 300;
  margin-bottom: 6px;
  line-height: 22px;
}
.note {
  margin-top: 8px;
  padding-top: 8px;
  font-weight: 300;
  border-top: 1px solid rgba(#33475b, 0.25);
}
.keyword {
  font-weight: 400;
}
.timestamp {
  font-weight: 400;
  opacity: 0.75;
  font-size: 12px;
  color: #7c98b6;
}
.timeline-avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 16px;
}
