.dashboard {
  .react-grid-layout {
    position: relative;
  }
  .dashboard-grid {
    background-color: rgb(245, 248, 250);
    padding: 0 48px;
  }
  .panel {
    cursor: -webkit-grab;
    cursor: grab;
    transition: box-shadow 0.3s ease-in-out, transform 0.15s ease-in-out;
  }
  .panel:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .react-draggable-dragging {
    z-index: 1000;
    cursor: -webkit-grabbing;
    cursor: grabbing;
    transition: transform 0s linear;
  }
  .react-grid-placeholder {
    z-index: 999;
    border: 3px dashed rgb(255, 122, 89);
    border-radius: 3px;
  }
}
