.section-body {
  display: flex;
  flex-direction: row;
  margin: 0 48px;
  padding: 48px 0;
  .sidebar {
    width: 173px;
    margin-right: 32px;
  }
  .sidebar-header {
    background-color: #eaf0f6;
    color: #33475b;
    font-weight: 600;
    padding: 12px 12px 12px 8px;
    border-radius: 3px;
  }
  .content {
    width: 100%;
  }
  .content a {
    text-decoration: none;
    font-weight: 400;
    color: #0091ae;
  }
  .content a:hover {
    text-decoration: underline;
  }
}
