.section-body {
  display: flex;
  flex-direction: row;
  margin: 0 48px;
  padding: 48px 0;
  .content {
    width: 100%;
    margin-bottom: 64px;
  }
  .content .input-row {
    margin-bottom: 15px;
  }
  .content .input-row .label {
    font-size: 14px;
    margin-right: 15px;
  }
  .content .input-row .input-group input {
    margin-right: 15px;
  }
  .content a {
    text-decoration: none;
    font-weight: 400;
    color: #0091ae;
  }
  .content a:hover {
    text-decoration: underline;
  }
}
