.panel {
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 5px 0 rgba(45, 62, 80, 0.12);
}
.panel-inner {
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: 100%;
}
.panel-header {
  display: flex;
  justify-content: space-between;
}
.panel-title {
  font-size: 24px;
  font-weight: 300;
}
.panel-menu {
  font-weight: 300;
  color: #0091ae;
}
.panel-body {
  padding: 10px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.body-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}
.body-text {
  font-weight: 300;
  margin-bottom: 20px;
  width: 100%; // Forces word-wrap in IE11
}
.body-text-line {
  margin-bottom: 18px;
}
