.panel {
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 5px 0 rgba(45, 62, 80, 0.12);
  transition: box-shadow 0.15s ease-in-out;
  cursor: -webkit-grab;
  cursor: grab;
}
.panel:hover {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}
.react-draggable-dragging {
  z-index: 1000;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.react-grid-placeholder {
  z-index: 999;
  border: 3px dashed rgb(255, 122, 89);
  border-radius: 3px;
}
.panel-inner {
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: 100%;
}
.panel-header {
  display: flex;
  justify-content: space-between;
}
.panel-title {
  font-size: 24px;
  font-weight: 300;
}
.panel-menu {
  font-weight: 300;
  color: #0091ae;
}
.panel-body {
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.body-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}
.body-text {
  font-weight: 300;
  margin-bottom: 20px;
  width: 100%;
}
