.Select-control {
  height: 40px;
  background-color: #f5f8fa;
  border: 1px solid #cbd6e2;
}
.Select-placeholder {
  padding: 4px 10px;
}
.Select-value {
  padding: 4px 10px;
}
.Select-value-label {
  color: #33475b !important;
}
.Select-input input {
  padding: 0;
  color: #33475b;
}
.Select-option {
  padding: 10px 10px;
}
.Select-option-label {
  color: #33475b !important;
}
