.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2e2e2e;
  color: #bbb;
  height: 42px;
  box-shadow: 0 1px 0 #4d4d4d inset, 0 2px 3px rgba(0, 0, 0, 0.25);
  .button-group {
    display: flex;
  }
  .nav-button {
    font-size: 14px;
    padding: 0 13px;
    line-height: 42px;
  }
  .brand {
    font-weight: bold;
  }
}
