.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2e2e2e;
  height: 42px;
  box-shadow: 0 1px 0 #4d4d4d inset, 0 2px 3px rgba(0, 0, 0, 0.25);
  .button-group {
    display: flex;
  }
  .nav-button {
    font-size: 14px;
    padding: 0 13px;
    line-height: 42px;
  }
  a {
    text-decoration: none;
    color: #bbb;
    transition: all 0.15s ease-out;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  a.active {
    background-color: #212121;
  }
  a:hover {
    background-color: #1b1b1b;
    color: #f0f0f0;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  .brand {
    font-weight: bold;
    background-color: #2e2e2e;
  }
}
