.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2e2e;
  height: 42px;
  box-shadow: 0 1px 0 #4d4d4d inset, 0 2px 3px rgba(0, 0, 0, 0.25);
  .button-group {
    display: flex;
  }
  .hamburger {
    display: none;
    font-size: 24px;
    color: #bbb;
    padding: 5px 10px;
    background-color: transparent;
  }
  .hamburger:focus {
    outline: none;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
  }
  .hamburger-menu,
  .mobile-page-title,
  .mobile-notifications-icon {
    display: none;
  }
  @media screen and (max-width: 750px) {
    .hamburger {
      display: block;
    }
    .hamburger-menu.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 42px;
      width: 100%;
      background-color: #2e2e2e;
      z-index: 1000;
    }
    .hamburger-menu a .icon {
      margin-right: 10px;
    }
    .mobile-page-title {
      display: block;
      color: #eee;
      text-overflow: ellipsis;
    }
    .mobile-notifications-icon {
      display: block;
      width: 42px;
      height: 1px;
    }
    .links,
    .search-and-profile {
      display: none;
    }
  }
  .nav-button {
    font-size: 14px;
    padding: 0 13px;
    line-height: 42px;
  }
  a {
    text-decoration: none;
    color: #bbb;
    transition: all 0.15s ease-out;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  a.active {
    background-color: #212121;
  }
  a:hover {
    background-color: #1b1b1b;
    color: #f0f0f0;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
  .brand {
    font-weight: bold;
    background-color: #2e2e2e;
  }
  .nav-button {
    background-color: transparent;
    color: #bbb;
  }
  .nav-button:focus {
    outline: none;
  }
  .profile-button-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .profile-button-text .username,
  .profile-button-text .team-name {
    line-height: 21px;
  }
  .profile-menu {
    display: none;
    position: absolute;
    width: 270px;
    right: 0px;
    z-index: 1000;
    top: 42px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    text-align: left;
    padding: 8px;
  }
  .profile-menu.open {
    display: block;
    background-color: rgb(46, 46, 46);
  }
  .nav-name {
    color: rgb(238, 238, 238);
    padding: 8px;
    line-height: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav-avatar {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 10px;
  }
  .profile-menu ul {
    width: 100%;
    padding-bottom: 8px;
  }
  .profile-menu li {
    font-weight: 300;
    height: 30px;
  }
  .profile-menu a {
    width: calc(100% - 8px);
    padding: 8px;
    display: inline-block;
    line-height: 14px;
    border: 0;
  }
  .profile-menu a:hover {
    background-color: rgb(46, 46, 46);
  }
}
